#outher {
    margin-right: 100px;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
  
    .d-flex-row.individually.primary {
      padding: 0;
    }
  
    img {
      margin: 0 auto;
    }
  
    #titulo {
      padding: 0;
      margin: 0 auto;
      background-color: #f8f4e6;
      width: 50%;
      border-radius: 5px;
    }
  
    .d-flex-row.individually {
      flex-direction: column; /* Empilha imagem e texto */
      text-align: center;
      padding: 30px 10px;
      margin: 0;
    }
  
    .d-flex-row.individually .d-flex-column {
      width: 100%;
      padding: 0 15px;
    }
  
    .d-flex-row.individually p {
      font-size: 16px;
      text-align: left;
    }
  
    .d-flex-column p {
      margin: 0 50px 0 50px;
    }
  
    #centralizado {
      margin: 20px 0 20px 0;
      text-align: center;
    }
  
    p#outher {
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      width: 90%;
      align-items: center;
    }
  
  }
  
  @media (min-width: 320px) and (max-width: 768px) {
  
      .d-flex-row.individually.primary {
        padding: 0;
      }
  
      #titulo {
        padding: 0;
        margin: 0 auto;
        background-color: #ffe8f3;
        width: 50%;
        border-radius: 5px;
      }
  
      .d-flex-row.individually {
        flex-direction: column; /* Empilha imagem e texto */
        text-align: center;
        padding: 30px 10px;
        margin: 0;
      }
  
  
      .d-flex-row.individually img {
        width: 50%;
        margin: 0 auto; /* Reduz o tamanho da imagem */
      }
  
      img {
          margin: 0 auto;
      }
    
    
      .d-flex-row.individually h1 {
        font-size: 26px; /* Reduz tamanho do título */
      }
    
      .d-flex-row.individually p {
        font-size: 16px;
        text-align: center;
      }
  
      p#outher {
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        width: 90%;
        align-items: center;
      }
  
      #centralizado {
        margin: 20px 0 20px 0;
        text-align: center;
      }
  }
     